@model HastaKabul.Models.Hastalar

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Hastalar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HastaId" />
            <div class="form-group">
                <label asp-for="HastaTc" class="control-label"></label>
                <input asp-for="HastaTc" class="form-control" />
                <span asp-validation-for="HastaTc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HastaAd" class="control-label"></label>
                <input asp-for="HastaAd" class="form-control" />
                <span asp-validation-for="HastaAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HastaYas" class="control-label"></label>
                <input asp-for="HastaYas" class="form-control" />
                <span asp-validation-for="HastaYas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HastaEmail" class="control-label"></label>
                <input asp-for="HastaEmail" class="form-control" />
                <span asp-validation-for="HastaEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HastaPassword" class="control-label"></label>
                <input asp-for="HastaPassword" class="form-control" />
                <span asp-validation-for="HastaPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

